/* Admin styles for the Credit Line plug-in */
#creditline {
	background: #fff; 
	border: 2px solid #ccc; 
	padding: 10px; 
	margin: 10px 20%; 
	display: none; 
	position: absolute; 
	top: 20px; 
	left: 20px;
	z-index: 100001;
	max-width: 42em;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
#creditline input {
	width: 98%;
}
.creditline_fakebutton {
	display: block; 
	float: left; 
	margin-right: 1em; 
	width: 5em; 
	border: 3px #666 outset; 
	cursor: default; 
	text-align: center;
}
.creditline_fakebutton:active {
	border: 3px #666 inset; 
}
.creditline_clear { clear: both; }
.creditline_low { font-size: 1px; line-height: 1px; }
.creditline_labelcontainer { display: block; width: 128px; float: left; }

@media screen and (max-width: 782px) {
	#creditline {
		margin: 10px; 
		top: 42px; 
		left: 0px;
	}
}
